<!-- views/partials/footer.ejs -->
<footer class="footer mt-auto py-3 bg-light text-center">
  <div class="container">
    <span class="text-muted">&copy; <%= new Date().getFullYear() %> EJS-MailChimp</span>
  </div>
</footer>