<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title><%= title || "EJS-MailChimp" %></title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">